{% extends ('::base.html.twig') %}

{% block styles %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('lib/player/mediaelementplayer.css') }}" type="text/css">
{% endblock styles %}

{% block content_navigation %}
    <div id="breadcrumbs">
        <a href="{{ path('kiselevmusic_home_home_index') }}">Главная</a> /
        <span>Аудио</span>
        <h1>Полувер</h1>
    </div>
{% endblock content_navigation %}

{% block content %}
    <div class="">
        <div class="art_img">
            <a href="{{ path('kiselevmusic_audio_audio_poluver') }}">
                <img _id="50" _height="300" _width="300" src="{{ asset('uploads/audio/cover/9.jpg') }}">
            </a>
        </div>
        <div id="audiofile">
            {% for song in songs %}
                <div class="audiofiles" style="margin-bottom: 30px">
                    <div class="song-title">{{ song.title }}</div>
                    <div style="clear: both"></div>
                    <div style="margin-top: 10px; float: left">
                        <audio src="{{ asset('uploads/audio/') ~ song.fileName }}" width="270"></audio>
                    </div>
                    <div style="margin-top: 9px; margin-left: 5px; float: left">
                        <a href="{{ path('kiselevmusic_audio_audio_download', {'fileName': song.fileName}) }}">
                            <img src="{{ asset('images/download-icon.png') }}" title="Скачать">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}

{% block js %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('lib/player/mediaelement-and-player.min.js') }}"></script>
    <script>
        // using jQuery
        $('audio').mediaelementplayer({
            startVolume: 1.0
        });
    </script
{% endblock js %}