{% extends ':admin:admin_base.html.twig' %}

{% block content_title %}
    <i class="fa fa-file-photo-o"></i>&nbsp; Видео - Изменить/Добавить Видео
{% endblock content_title %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <header>
                    <div class="icons">
                        <i class="fa fa-edit"></i>
                    </div>
                    {#<h5>Dynamic Table</h5>#}
                </header>
                <div class="body collapse in" id="div-1" aria-expanded="true" style="">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'enctype': 'multipart/form-data'} }) }}
                    <div class="form-group {% if form_errors(form.title) %}has-error{% endif %}">
                        {{ form_label(form.title, 'Название', {'label_attr': {'class': 'control-label col-lg-2'}}) }}
                        <div class="col-lg-4">
                            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                            {% if form_errors(form.title) %}
                                <span id="required2-error" class="help-block">
                                    {{ form_errors(form.title) }}
                                </span>
                            {% endif %}
                        </div>
                    </div><!-- /.form-group -->

                    <div class="form-group {% if form_errors(form.file) %}has-error{% endif %}">
                        {{ form_label(form.file, 'Файл', {'label_attr': {'class': 'control-label col-lg-2'}}) }}
                        <div class="col-lg-4">
                            {{ form_widget(form.file, {'attr': {'class': 'form-control'}}) }}
                            {% if form_errors(form.file) %}
                                <span id="required2-error" class="help-block">
                                    {{ form_errors(form.file) }}
                                </span>
                            {% endif %}
                        </div>
                    </div><!-- /.form-group -->

                    <div class="form-group {% if form_errors(form.public) %}has-error{% endif %}">
                        {{ form_label(form.public, 'Опубликовать', {'label_attr': {'class': 'control-label col-lg-2'}}) }}
                        <div class="col-lg-1">
                            {{ form_widget(form.public, {'attr': {'class': 'form-control', 'placeholder': '0'}}) }}
                            {% if form_errors(form.public) %}
                                <span id="required2-error" class="help-block">
                                    {{ form_errors(form.public) }}
                                </span>
                            {% endif %}
                        </div>
                    </div><!-- /.form-group -->
                    {{ form_rest(form) }}
                    <div class="form-group">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-4">
                            <input type="submit" class="btn btn-primary" value="Save" style="margin-left: -22px">
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block js %}

{% endblock js %}